/* ----- Font Family ------ */

@font-face {
  font-family: 'PROXON';
  src: url('/src/assets/font/PROXONRegular.woff') format('woff'),
      url('/src/assets/font/PROXONRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'VTF Justina GEO';
  src: url('/src/assets/font/VTFJustinaGEO-Bold.woff2') format('woff2'),
      url('/src/assets/font/VTFJustinaGEO-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTF Justina GEO';
  src: url('/src/assets/font/VTFJustinaGEO-SemiBold.woff2') format('woff2'),
      url('/src/assets/font/VTFJustinaGEO-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTF Justina GEO';
  src: url('/src/assets/font/VTFJustinaGEO-Regular.woff2') format('woff2'),
      url('/src/assets/font/VTFJustinaGEO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ---- Varaiables ---- */

:root{
  --primary-font:'PROXON';
  --secondary-font:'VTF Justina GEO';
}
body{
  background-color: #20043b;
}
*{
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
video{
  display: block;
  width: 100%;
}
.container{
  max-width: 1400px;
  padding: 0px 30px;
  margin: 0 auto;
}





header{
  background-color: #000;
  border-bottom: 2px solid #B026FF80;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.logo {
  max-width: 220px;
}
.svg-button{
  display: inline-block;
  position: relative;
  text-align: center;
}
.svg-content{
  position: absolute;
  top: 50%;
  width: 100%;
  transform:translateY(-50%);
  font-family: var(--primary-font);
  letter-spacing: 3px;
  line-height: 147%;
  color: #fff;
  padding-left: 3px;
}
.svg-button:hover svg .content-svg{
  fill: #B026FF66;
  stroke-width: 2;
  fill-opacity: 1;
}
.svg-button:hover svg .svg-left{
  fill: #B026FF;
  stroke: #B026FF;
  stroke-width: 0.7;
}
.svg-button:hover .svg-content{
  /* text-shadow: 0px 0px 7px 0px #53D3E0; */
  text-shadow: 0px 0px 7px #53D3E0;

}

/* Hero Section */

.hero-section{
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: var(--secondary-font);
  padding:10px 0px 40px;
  background-color: #5813a7;
}
.header-border-style {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.video-container video{
  opacity: 0.7;
}
.hero-content,.nav-bar{
  position: relative;
  z-index: 12;
}

/* Nav-bar */

nav {
  padding: 10px 20px;
  display: inline-block;
  background: rgba(40, 8, 58, 1);
  border-radius: 10px;
  margin: 20px auto 10px;
  box-shadow: 0px 0px 80px 0px #b026ff42;
}
.nav-bar ul{
  display: flex;
  gap: 10px;
}
.nav-bar ul li{
  list-style: none;
}
nav .svg-content {
  top: 45%;
  font-size: 10px;
}

/* Hero Logo */
.singualarity-net {
  max-width: 340px;
  padding: 10px 20px 0px;
  margin: 0 auto;
}
.hackindia {
  max-width: 800px;
  padding: 0px 30px 10px;
  margin: 0 auto;
}
/* Hero Content */
.hero-tagline h2{
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 0.5px solid #D9D9D9;
  margin-top: 10px;
}
.hero-btn{
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 32.45px;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(140deg, #6A1799, #230833);
  border: 1px solid #D9D9D94D;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 35px 0px;
}
.hero-stats {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.stats-box h4{
  font-weight: 700;
  font-size: 22px;
  line-height: 36.88px;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
}
.stats-box h4 .orange-text{
  color: #F86720;
}
.university.stats-box {
  padding: 0px 40px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  margin: 0px 30px;
}
.register-btn {
  font-size: 18px;
  margin-top: 40px;
}
.register-btn .svg-content {
  transform: translateY(-58%);
}

.slider {
  padding-top: 10px;
  background-color: #e7e7e730;
}

/* About Us */
.about {
  position: relative;
  padding: 50px 0px;
}
.about-wrapper{
  position: relative;
  z-index: 2;
}
.about:before{
  content: '';
  background-color: #B026FF;
  width: 30%;
  height: 50%;
  position: absolute;
  top: 40%;
  filter: blur(300px);
  z-index: 1;
}
.about:after{
  content: '';
  background-color: #B026FF;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 40%;
  right: 20%;
  filter: blur(200px);
  z-index: 1;
}
.effect {
  position: absolute;
  top: 7%;
}
.about-wrapper .left-about,.about-wrapper .right-about {
  flex: 1;
}
.about-wrapper {
  display: flex;
}
.yt-box iframe {
  width: 100%;
  height: 500px;
}
.yt-box {
  max-width: 550px;
  height: 380px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.about-stats{
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  padding-left: 60px;
}
.counter-text {
  font-size: 40px;
  margin-bottom: 10px;
  text-shadow:0px 0px 5px #fff;
}
.total-stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}
.participation .counter-text {
  font-size: 62px !important;

}
.left-about {
  display: flex;
  align-items: center;
}
.participation {
  margin-bottom: 50px;
}

/* Footer */

footer {
  background-image: linear-gradient(45deg, #ffffff0a, #00000045);
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  padding:20px 0px;
}
.copyright-detail {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 23.6px;
  color:#fff;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li{
  list-style:none;
  border-left: 2px solid #fff;
}
.footer-menu ul li a{
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 23.6px;
  color:#fff;
  text-decoration:none;
  padding:0px 20px;
}
.footer-menu ul li:first-child{
  padding:0px 20px;
  border-left: none;
}
.footer-menu ul li:last-child a{
  padding:0px 0px 0px 20px;
  border-left: none;
}


